#contents-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  align-content: baseline;
  min-width: 1200px;

  button.fa,
  a.fa {
    text-align: left;
    color: white;
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  button.fa:hover,
  a.fa:hover {
    font-weight: 700;
    transition: all 200ms;
  }

  #topMenu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    padding: 3px;
    border-bottom: 1px solid rgb(103 103 103 / 92%);

    ul {
      display: flex;

      li {
        margin: 5px;

        button.fa,
        a.fa {
          font-size: 18px;
        }

        button.fa:hover,
        a.fa:hover {
          font-size: 19px;
        }
      }
    }
  }

  #content {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;

    input {
      width: 100%;
      height: 30px;
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      outline: none;
      color: white;
      font-size: 18px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-text-fill-color: white;
      -webkit-box-shadow: 0 0 0px 1000px #414141 inset;
      box-shadow: 0 0 0px 1000px #414141 inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    .login-box {
      padding-top: 100px;
      width: 30%;

      div {
        padding: 10px;
      }

      #login-button-box {
        display: flex;
        justify-content: end;
        width: 100%;
      }

      a.fa {
        font-size: 23px;
        cursor: pointer;
      }

      a.fa:hover {
        font-size: 25px;
      }
    }

    div#blocked {
      display: none;
      background-color: black;
      opacity: 40%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    div#validEmail {
      display: none;
      background-color: whitesmoke;
      color: black;
      border-radius: 8px;
      width: 40%;
      height: 40%;
      position: absolute;
      top: 30%;
      left: 35%;

      div.validEmail-title {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 8px 8px 0px 0px;
        border: none;
        background-color: mediumpurple;
        color: white;
        font-size: 25px;
        span#validEmail-close {
          cursor: pointer;
        }
      }

      div.validEmail-body {
        padding: 20px;
        border-radius: 0px 0px 8px 8px;
        border: none;
        color: black;

        a {
          padding: 6px;
          color: white;
          border-radius: 4px;
          margin-left: 4px;
          margin-right: 4px;
          cursor: pointer;
          font-size: 15px;
        }

        a#sendCode {
          border: 1px solid mediumpurple;
          background-color: mediumpurple;
          color: whitesmoke;
        }

        a#validSubmit {
          border: 1px solid darkcyan;
          background-color: darkcyan;
        }

        a#validClose {
          border: 1px solid brown;
          background-color: brown;
        }

        div.validCode-box {
          padding: 30px;
          margin: 5% auto 0 auto;
          width: 80%;
          text-align: center;

          p.timer {
            margin-bottom: 10px;
          }

          label {
            width: 45%;
          }
          input {
            margin-left: 10px;
            margin-right: 15px;
            font-size: 16px;
            width: 30%;
            color: black;
            border-bottom: 1px solid black;
          }
        }
        div.validEmail-bottom {
          display: flex;
          justify-content: center;
        }
      }
    }

    .signup-box {
      padding-top: 30px;
      width: 80%;

      form {
        padding: 10px;

        div.row {
          display: flex;
          justify-content: space-between;
          padding: 10px;

          span.required {
            color: goldenrod;
          }

          span.info {
            font-size: 12px;
            font-style: italic;
            color: plum;
          }

          span.info-chk {
            margin-left: 3px;
          }

          span.info-chk.chkd {
            color: greenyellow;
          }

          span.info-chk.unchkd {
            color: red;
          }

          input#username,
          input#phoneNumber {
            width: 86%;
          }

          input#email,
          input#phoneNumber {
            width: 55.3%;
          }

          select#emailDomain,
          select#firstNumber {
            width: 27%;
            background-color: black;
            padding: 5px;
            border: 1px solid white;
            border-radius: 4px;
            color: white;
          }

          a#usernameChk,
          a#emailChk,
          a#phoneNumberChk {
            display: inline-block;
            width: 12%;
            padding: 0.5%;
            margin-left: 2%;
            text-align: center;
            border: 1px solid white;
            border-radius: 4px;
          }

          a#usernameChk.chkd,
          a#emailChk.chkd,
          a#phoneNumberChk.chkd {
            background-color: white;
            color: black;
            font-weight: 800;
          }

          a#phoneNumberChk.unvalid {
            border: 1px solid darkgray;
            color: darkgray;
          }

          a#usernameChk.unchkd:hover,
          a#emailChk.unchkd:hover,
          a#phoneNumberChk.unchkd:hover {
            cursor: pointer;
            background-color: white;
            color: black;
            font-weight: 800;
          }

          input#pwChk.unchkd {
            color: red;
          }
        }

        #signup-button-box {
          display: flex;
          justify-content: center;
          width: 100%;

          button.fa,
          a.fa {
            font-size: 26px;
          }
        }
      }
    }
  }
}
